# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# Build folders
bin/
obj/

# Rider / VSCode
.idea/
.vscode/
node_modules/
frontend-app/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Uploads (optional if large)
uploads/
.data-protection-keys/

# Test output
TestResults/
coverage/
test-results/
playwright-report/
blob-report/
artifacts/
.npm-cache/
